{% extends "base.html" %}

{% import "macros/macros.html" as macros %}

{% block content %}
<main class="text-center">
    <div class="row">
        <div class="vyrobky">
            <h1><span id="brand-color">3</span>D DEKOR</h1>
            <h2>výroba dekoračných nápisov na aranžovanie</h2>
            <div class="loga">
                <a href="/">
                    <img src="{{ url_for ('static', path='img/cl001_bie_z.jpg') }}"
                        alt="Logo Vladimír Ďurica – 3D DEKOR" title="Logo Vladimír Ďurica – 3D DEKOR" class="logo">
                </a>
                <a id="hlavne-logo" href="/">
                    <img src="{{ url_for ('static', path='img/logo_vd.svg') }}" alt="Logo Vladimír Ďurica – 3D DEKOR"
                        title="Logo Vladimír Ďurica – 3D DEKOR" class="logo">
                </a>
                <a href="/">
                    <img src="{{ url_for ('static', path='img/cl005_mod_z.jpg') }}"
                        alt="Logo Vladimír Ďurica – 3D DEKOR" title="Logo Vladimír Ďurica – 3D DEKOR" class="logo">
                </a>
            </div>
            <h2>Ako sa orientovať v cenníku</h2>
            <p>V cenníku stačí kliknúť myšou / ťuknúť palcom na akýkoľvek riadok s kódom produktu a následne sa zobrazí
                náhľad produktu v rôznych farebných prevedeniach. Samozrejmosťou je možnosť zväčšenia obrázka na väčší
                vo
                vyššom rozlíšení.</p>
            <h2>Cenová ponuka dekoračných nápisov</h2>

            {% for kod_skupina in kodove_skupiny %}
            <h4>{{ kodove_skupiny[kod_skupina] }}: </h4>
            <div class="tabulka-vyrobkov">
                {{ macros.produkty_tabulka(produkty, kod_skupina) }}
            </div>
            <button class="btn btn-success mt-4" id="{{kod_skupina}}" hx-get="/zlavy" hx-swap="outerHTML">Bližšie
                informácie o farbách, veľkostiach a zľavách</button>
            {% endfor %}
            <h4>Špeciálna sezónna ponuka: </h4>
            <div class="tabulka-vyrobkov">
                {{ macros.produkty_tabulka_special(produkty) }}
            </div>
            <button class="btn btn-success mt-4" id="{{kod_skupina}}" hx-get="/zlavy" hx-swap="outerHTML">Bližšie
                informácie o farbách, veľkostiach a zľavách</button>
            <br>
            <br>
            <div class="card">
                <p>Objednávky formou emailu poslať na <a
                        href="mailto:duri.ca.vlado@gmail.com">duri.ca.vlado@gmail.com</a>
                </p>
                <p>Uveďte: kód produktu, počet kusov, farbu, vaše kontaktné údaje</p>
            </div>
        </div>
    </div>



</main>

<script>
    async function fetchProjekty() {
        try {
            const response = await fetch('/portfolio_short');
            this.projekty = await response.text();
            console.log(this.projekty);
        } catch (error) {
            console.error('Error:', error);
        }
    }
</script>

{% endblock %}