{% extends "base.html" %}

{% import "macros/macros.html" as macros %}

{% block content %}
<main class="text-center">
    <div class="row">
        <div class="vyrobky">
            <h1>Vladimír Ďurica – <span id="brand-color">3</span>D DEKOR</h1>
            <h2>výroba dekoračných nápisov na aranžovanie</h2>
            <img src="{{ url_for ('static', path='img/logo_vd.svg') }}" alt="Logo Vladimír Ďurica – 3D DEKOR"
                title="Logo Vladimír Ďurica – 3D DEKOR" class="logo">
            <h2>Cenová ponuka dekoračných nápisov</h2>

            {% for kod_skupina in kodove_skupiny %}
            <h4>{{ kodove_skupiny[kod_skupina] }}: </h4>
            <div class="tabulka-vyrobkov">
                {{ macros.produkty_tabulka(produkty, kod_skupina) }}
            </div>
            <div class="farby-zlavy">
                <p>3 základné farebné varianty: biela, hnedá, zlatá (možnosť ďalších farieb na objednávku)</p>
                <p>pri veľko objemovom odbere zľava minimálne:</p>
                <ul>
                    <li>100 ks / zľava 10%</li>
                    <li>200 ks / zľava 15%</li>
                    <li>250 ks / zľava 20%</li>
                </ul>
            </div>
            {% endfor %}
            <br>
            <br>
            <div class="card">
                <p>Objednávky formou emailu poslať na <a
                        href="mailto:duri.ca.vlado@gmail.com">duri.ca.vlado@gmail.com</a>
                </p>
                <p>Uveďte: kód produktu, počet kusov, farbu, vaše kontaktné údaje</p>
            </div>
        </div>
    </div>



</main>

<script>
    async function fetchProjekty() {
        try {
            const response = await fetch('/portfolio_short');
            this.projekty = await response.text();
            console.log(this.projekty);
        } catch (error) {
            console.error('Error:', error);
        }
    }
</script>

{% endblock %}