{% extends "base.html" %}

{% import "macros/macros.html" as macros %}

{% block content %}
<main class="text-center">
    <div class="row">
        <div class="vyrobky">
            <h1><span id="brand-color">3</span>D DEKOR</h1>
            <h2>výroba dekoračných nápisov na aranžovanie</h2>
            <div class="loga">
                <a id="hlavne-logo" href="/">
                    <img src="{{ url_for ('static', path='img/logo_vd.svg') }}" alt="Logo Vladimír Ďurica – 3D DEKOR"
                        title="Logo Vladimír Ďurica – 3D DEKOR" class="logo">
                </a>

                <h2>Špeciálna sezónna ponuka: </h2>
                <div class="tabulka-vyrobkov">
                    {{ macros.produkty_tabulka_special(produkty) }}
                </div>
                <button class="btn btn-success mt-4" id="{{kod_skupina}}" hx-get="/zlavy" hx-swap="outerHTML">Bližšie
                    informácie o farbách, veľkostiach a zľavách</button>
                <br>
                <br>
                <div class="card">
                    <p>Objednávky formou emailu poslať na <a
                            href="mailto:duri.ca.vlado@gmail.com">duri.ca.vlado@gmail.com</a>
                    </p>
                    <p>Uveďte: kód produktu, počet kusov, farbu, vaše kontaktné údaje</p>
                </div>
            </div>
        </div>
</main>
{% endblock %}