{% extends "base.html" %}

{% block content %}<p>Na tejto stránke sa pracuje.</p>

<div class="celerocne">
    <h2>Ukážka celoročných dekoračných nápisov</h2>
    <p>rozpracované</p>
</div>

<div class="spomienkove">
    <h2>Ukážka spomienkových dekoračných nápisov</h2>
    <p>rozpracované</p>
</div>

<div class="vianocne">
    <h2>Ukážka vianočných dekoračných nápisov</h2>
    <p>rozpracované</p>
</div>

<div class="vianocne">
    <h2>Ukážka zo špeciálnej ponuky</h2>
    <p>rozpracované</p>
</div>

{% endblock %}