{% extends "base.html" %}

{% block content %}
<h1 class="text-center">Formulár na kontakt</h1>
<form class="form_inputs">
    <div id="form-container">
        <div class="mb-3">
            <label for="fname" class="form-label">Meno <span class="povinne">*</span></label>
            <input type="text" id="fname" class="form-control" placeholder="Jozef" name="fname" required>
        </div>
        <div class="mb-3">
            <label for="lname" class="form-label">Priezvisko <span class="povinne">*</span></label>
            <input type="text" id="lname" class="form-control" placeholder="Mrkvička" name="lname" required>
        </div>
        <div class="mb-3">
            <label for="firma" class="form-label">Názov firmy</label>
            <input type="text" id="firma" class="form-control" placeholder="Firma XYZ" name="firma">
        </div>
        <div class="mb-3">
            <label for="ico" class="form-label">IČO</label>
            <input type="number" id="ico" class="form-control" placeholder="123456" name="ico">
        </div>
        <div class="mb-3">
            <label for="dic" class="form-label">DIČ</label>
            <input type="number" id="dic" class="form-control" placeholder="3456789" name="dic">
        </div>
        <div class="mb-3">
            <label for="p_dic" class="form-label">Platca DPH DIČ</label>
            <input type="text" id="p_dic" class="form-control" placeholder="neplatca" name="p_dic">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Telefónne číslo <span class="povinne">*</span></label>
            <input type="text" id="phone" class="form-control" placeholder="0912 345 678" name="phone" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email <span class="povinne">*</span></label>
            <input type="email" id="email" class="form-control" placeholder="mrkvicka@gmail.com" name="email" required>
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Správa</label>
            <textarea class="form-control" id="message" rows="3" placeholder="Tu napíš svoju správu." name="message"
                required></textarea>
        </div>
        <div class="mb-3 gdpr-suhlas">
            <input type="checkbox" id="gdpr-suhlas" name="gdpr-suhlas" value="gdpr-suhlas-ano" />
            <label for="gdpr-suhlas">Súhlasím so spracovaním mojich osobných údajov pre účely nevyhnutného spracovania
                dát za účelom spätného kontaktu / objednávky. </label>
        </div>
        <button type="button" id="send-form" class="btn btn-success" hx-post="/kontakt" hx-trigger="click"
            hx-target="#form-container" hx-swap="innerHTML">Odoslať</button>
    </div>
</form>

<section class="kontaktne-info">
    <h2><span id="brand-color">3</span>D DEKOR</h2>
    <h3>výroba dekoračných nápisov na aranžovanie</h3>
    <img src="{{ url_for ('static', path='img/logo_vd.svg') }}" alt="Logo Vladimír Ďurica – 3D DEKOR"
        title="Logo Vladimír Ďurica – 3D DEKOR" class="logo">
    <ul>
        <li>Adresa: Partizánska 197, 98556 Tomášovce</li>
        <li>
            Telefónne číslo: <a href="tel:+421907503459">+421 907 503 459</a>
        </li>
        <li>
            Email: <a href="mailto:duri.ca.vlado@gmail.com">duri.ca.vlado@gmail.com</a>
        </li>
        <li>IČO: 56415508</li>
        <li>DIČ: 1073885274</li>
        <li>Neplatca DPH</li>
    </ul>
</section>
{% endblock %}