{% extends "base.html" %}

{% block content %}
<h2>Odpovede z formulara</h2>
<ul>
    {% for odpoved in odpovede %}
    <li class="card py-4 px-4">
        <p>{{ odpoved.fname }} {{ odpoved.lname }} - {{ odpoved.email }} - {{ odpoved.phone }}</p>
        {% if odpoved.firma %}
        <p>Názov firmy: {{ odpoved.firma }}</p>
        <p>IČO firmy: {{ odpoved.ico }}</p>
        <p>DIČ firmy: {{ odpoved.dic }}</p>
        <p>Platca DPH: {{ odpoved.p_dic }}</p>
        {% endif %}
        <p>Správa: {{ odpoved.message|trim }}</p>
        <p>Dátum a čas: {{ odpoved.date|trim }}</p>
    </li>
    {% endfor %}
</ul>


{% endblock %}