{% extends "base.html" %}

{% import "macros/macros.html" as macros %}

{% block content %}
<main class="text-center">
    <div class="vyroba">
        <h1>Použitie dekoračných nápisov na aranžovanie</h1>
        <div class="col">
            <div class="row pouzitie">
                <img src="static/img/produkty/vence_s_napismi_01.jpg" alt="Výzdoba kytíc k pohrebným účelom"
                    title="Výzdoba kytíc k pohrebným účelom - S láskou spomíname">
            </div>
            <div class="row pouzitie">
                <img src="static/img/produkty/vence_s_napismi_08.jpg" alt="Výzdoba kytíc k pohrebným účelom"
                    title="Výzdoba kytíc k pohrebným účelom - Odpočívaj v pokoji">
            </div>
            <div class="row pouzitie">
                <img src="static/img/produkty/vence_s_napismi_12.jpg" alt="Výzdoba kytíc k pohrebným účelom"
                    title="Výzdoba kytíc k pohrebným účelom - Chýbaš nám">
            </div>
            <div class="row pouzitie">
                <img src="static/img/produkty/vence_s_napismi_17.jpg" alt="Výzdoba kytíc k pohrebným účelom"
                    title="Výzdoba kytíc k pohrebným účelom - Spomíname">
            </div>
            <div class="row pouzitie">
                <img src="static/img/produkty/vence_s_napismi_22.jpg" alt="Výzdoba kytíc k pohrebným účelom"
                    title="Výzdoba kytíc k pohrebným účelom - Spomíname">
            </div>
            <div class="row pouzitie">
                <img src="static/img/produkty/vence_s_napismi_24.jpg" alt="Výzdoba kytíc k pohrebným účelom"
                    title="Výzdoba kytíc k pohrebným účelom - Spomíname">
            </div>
        </div>
    </div>
</main>

{% endblock %}