<div class="card">
    <div class="row align-items-center">
        <div class="col-2">
            <ul>
                <li>Kód: <span class="kod-produktu">{{ produkt.kod | upper }}</span></li>
                <li>Názov: {{produkt.nazov}}</li>
                <li>Rozmer: {{produkt.rozmer}}</li>
                <li>Cena za 1 kus: {{produkt.cena / 100}}€</li>
            </ul>
        </div>
        <div class="col">
            <a href="{{ url_for ('static', path='img/' ~ produkt.kod ~'_bie.jpg') }}">
                <img src="{{ url_for ('static', path='img/' ~ produkt.kod ~'_bie.jpg') }}"
                    alt="{{produkt.kod | upper}} {{produkt.nazov}}" ,
                    title="{{produkt.kod | upper}} {{produkt.nazov}} {{produkt.rozmer}} -  {{produkt.cena}}centov / ks">
            </a>

        </div>
    </div>

</div>