<div class="card">
    <div class="row align-items-center">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <ul>
                <li>Kód: <span class="kod-produktu">{{ produkt.kod | upper }}</span></li>
                <li>Názov: {{produkt.nazov}}</li>
                <li>Rozmer: {{produkt.rozmer}}</li>
                {% if produkt.popis %}
                <li>Popis: {{produkt.popis}}</li>
                {% endif %}
                <li>Cena za 1 kus: {{produkt.cena / 100}}€</li>
                <div>Dostupné farby:
                    {% for farba in produkt.farby %}
                    <li>{{ farba }}</li>
                    {% endfor %}
                </div>
            </ul>
            <button class="btn btn-warning skry-info" hx-delete="/produkt/{{produkt.kod}}" hx-swap="delete"
                hx-target="#{{produkt.kod}}">Skry informácie</button>
        </div>
        <div class="col">
            {% for obrazok in produkt.obrazky_male %}
            <div class="row produkt">
                <!-- <a href="{{ url_for ('static', path=obrazok|replace('_z.', '.')) }}"> -->
                <button class="btn btn-success zvacsi-obrazok"
                    hx-get="{{ obrazok|replace('_z.', '.')|replace('img/produkty', 'obrazok') }}"
                    hx-target="#{{produkt.kod}}">
                    Zväčši obrázok
                </button>
                <img src="{{ url_for ('static', path=obrazok) }}"
                    alt="{{produkt.kod | upper }} {{produkt.nazov}} {{obrazok}}" ,
                    title="{{produkt.kod | upper}} {{produkt.nazov}} {{produkt.rozmer}} {{', '.join(produkt.farby)}} - {{produkt.cena}}centov / ks">
                <!-- </a> -->
            </div>
            {% endfor %}
        </div>
    </div>

</div>