{% extends "base.html" %}

{% import "macros/macros.html" as macros %}

{% block content %}
<main class="text-center">
    <div class="vyroba">
        <h1>Výroba dekoračných nápisov na aranžovanie</h1>
        <div class="jednotlive-vyhody py-4">
            <ol>
                <li class="card card-odd">
                    <h3>
                        Personalizácia a variabilita
                    </h3>
                    <ul>
                        <li>
                            možnosť vytvoriť akýkoľvek nápis na mieru (mená, dátumy, špeciálne odkazy)
                        </li>
                        <li>
                            široká škála dizajnov – rôzne písma, tvary a veľkosti
                        </li>
                        <li>
                            možnosť kombinácie s inými materiálmi (drevo, akryl, sušené kvety)
                        </li>
                    </ul>
                </li>

                <li class="card">
                    <h3>
                        Ľahkosť a pevnosť
                    </h3>
                    <ul>
                        <li>
                            ľahké, ale odolné – nepreťažujú vence ani kytice
                        </li>
                        <li>
                            dlhá životnosť – nedeformujú sa, neštiepia sa ako drevené alternatívy
                        </li>
                    </ul>
                </li>

                <li class="card card-odd">
                    <h3>
                        Odolnosť voči poveternostným podmienkam
                    </h3>
                    <ul>
                        <li>
                            vodeodolné a vlhkosti odolné, vhodné na vonkajšie použitie (napr. hroby, exteriérové
                            dekorácie)
                        </li>
                        <li>
                            neblednú na slnku, ak sa použijú UV stabilné materiály
                        </li>
                    </ul>
                </li>

                <li class="card">
                    <h3>
                        Ekologické a udržateľné riešenie
                    </h3>
                    <ul>
                        <li>
                            možnosť tlače z biologicky rozložiteľných materiálov (PLA)
                        </li>
                        <li>
                            menší odpad pri výrobe oproti tradičným metódam (napr. rezanie dreva)
                        </li>
                    </ul>
                </li>

                <li class="card card-odd">
                    <h3>
                        Rýchla a efektívna výroba
                    </h3>
                    <ul>
                        <li>
                            krátka doba výroby – oproti gravírovaniu alebo rezaniu dreva
                        </li>
                        <li>
                            možnosť výroby malých aj veľkých sérií podľa dopytu
                        </li>
                    </ul>
                </li>

                <li class="card">
                    <h3>
                        Jednoduchá montáž a aplikácia
                    </h3>
                    <ul>
                        <li>
                            možnosť upevnenia na drôtiky, špajdle alebo priamo do aranžmánu
                        </li>
                        <li>
                            flexibilita v použití – svadby, oslavy, pohreby, firemné eventy, sezónne dekorácie
                        </li>
                    </ul>
                </li>
            </ol>
        </div>
        <aside class="sumarizacia-vyhod">
            <p>
                Vďaka týmto výhodám sú 3D tlačené dekoračné nápisy modernou a praktickou voľbou pre profesionálnych
                aranžérov aj hobby kreatívcov možno zhrnúť do niekoľkých bodov:
            </p>
            <ul>
                <li class="card card-odd">
                    efektívna výroba a široká ponuka
                </li>
                <li class="card">
                    rýchla výroba bez nutnosti ručnej úpravy
                </li>
                <li class="card card-odd">
                    široká škála farieb a povrchových úprav
                </li>
                <li class="card">
                    jednoduché prispôsobenie trendom a sezónnym požiadavkám
                </li>
            </ul>
            <p>
                3D tlačené dekoračné nápisy tak dávajú aranžérom a dekoratérom možnosť vytvárať jedinečné, estetické a
                moderné kompozície, ktoré by boli inak ťažko realizovateľné.
            </p>
        </aside>
    </div>
</main>

{% endblock %}